// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');



/* Open Sans Light (300) */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('./OpenSans-Light.woff2') format('woff2');
  font-display: swap;
}

/* Open Sans Regular (400) */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./OpenSans-Regular.woff2') format('woff2');
  font-display: swap;
}

/* Open Sans SemiBold (600) */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./OpenSans-SemiBold.woff2') format('woff2');
  font-display: swap;
}

/* Open Sans Bold (700) */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./OpenSans-Bold.woff2') format('woff2');
  font-display: swap;
}